/* Landing.css */

/* Header styles */
.header {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.site-name {
    color: white;
    margin: 0;
    font-size: 2em;
}

/* Navigation Bar Container with Semi-Transparent Black Background */
.nav-container {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    top: 60px;
    z-index: 999;
}

/* Navigation Bar Items */
.nav.nav-tabs {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    z-index: 1001;
    text-align: center; /* Center the navigation items */
}

.nav.nav-tabs li {
    display: inline-block; /* Display list items in a line */
}

.nav.nav-tabs li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s;
}

.nav.nav-tabs li a:hover {
    background-color: rgb(221, 35, 35);
}

/* Add styles to make the carousel a rectangle shape */
#myCarousel {
    max-width: 800px;
    margin: auto;
    border: 1px solid #ddd;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 100px;
    text-align: center;
}

.carousel-inner {
    width: 100%;
}

.custom-img {
    height: auto;
}

/* Adjust navigation bar styles */
.nav {
    margin-bottom: 20px;
}
